# **Modules Import & Intiation**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression , LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score , root_mean_squared_error , accuracy_score , confusion_matrix , mean_absolute_error , precision_score , recall_score , f1_score , classification_report

# **OSEM Framework will Help us deal with our task**
![images.png]()

## **Obtain the Data Set**

In [2]:
creditCard = pd.read_csv('/content/drive/MyDrive/CSAI 253 Data Sets/creditcard.csv')

In [3]:
creditCard.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
creditCard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
creditCard.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
creditCard.sample(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
36512,38570.0,-0.598635,1.268409,0.224620,-0.416959,0.592685,0.264004,0.183942,0.631090,-0.654747,...,-0.288066,-0.932221,-0.185951,-1.459886,0.052533,0.165177,0.112799,0.006817,1.98,0
16648,28013.0,-0.954537,0.099213,1.082653,-1.136061,1.059006,-1.409175,1.033244,-0.421959,-0.631869,...,-0.226195,-0.683273,0.188697,0.371565,-0.547842,0.455546,-0.321338,-0.001521,25.95,0
111853,72397.0,-0.933029,1.285059,1.453680,-0.199466,-0.231296,-0.756353,0.523027,0.124745,-0.194609,...,-0.230787,-0.538614,0.015814,0.492605,-0.169507,0.052333,0.468380,0.238671,1.29,0
137224,82071.0,0.006779,-2.747938,-0.714742,0.140833,-1.618563,-0.803328,0.736954,-0.483378,-0.882801,...,-0.010631,-1.069304,-0.642739,0.482113,0.167559,1.014292,-0.205673,0.124131,730.96,0
144523,86188.0,1.101750,-0.185043,1.225790,1.308507,-0.914309,0.240533,-0.721612,0.302889,1.084861,...,-0.047584,0.032370,0.037784,0.049055,0.296694,-0.375565,0.079748,0.032759,12.99,0
151510,95620.0,1.887798,-0.082840,-1.607472,0.533244,0.239369,-0.661825,-0.040679,-0.171867,2.119843,...,-0.331255,-0.609490,0.107373,-0.578652,-0.120956,-0.125982,-0.047196,-0.032775,65.27,0
263533,160998.0,-1.082085,1.311116,-0.849925,-1.595741,1.704410,-0.560482,2.014702,-0.866621,0.216656,...,0.138420,0.719796,-0.404333,0.230798,0.188954,0.036151,-0.722970,-0.112357,26.56,0
182657,125497.0,-1.585418,-0.699978,0.466537,-3.050962,-0.377370,-0.433762,0.771583,-0.505619,-2.274425,...,-0.096472,0.554004,-0.108564,0.607123,1.100317,0.085058,-0.275533,-0.018025,141.50,0
39714,39934.0,-0.782439,0.978493,1.773904,0.306059,0.302794,-0.386761,0.694508,-0.106470,-0.260497,...,-0.302526,-0.686905,-0.150782,0.005785,-0.051248,0.238701,0.000582,-0.082224,11.99,0
266787,162484.0,1.823170,-0.556681,-1.750805,0.260344,1.968758,3.963545,-0.900886,1.031004,0.689279,...,-0.181274,-0.658320,0.374245,0.624798,-0.369203,-0.966551,0.061359,-0.020964,66.99,0

##**Scrubbing the Data Set from**


1.   Missing Records
2.   Duplicates
3. Outliers

**Missing Values Handler**

In [7]:
creditCard.isnull().sum()
# We can conclude now that there is not any missing values in any column

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

**Duplicate Records Handler**

In [8]:
print(f"{creditCard.duplicated().sum() / creditCard.shape[0] * 100 :.2f}  % of the data is duplicated The Decision will be Drop out those duplicated records")
creditCard.drop_duplicates(inplace=True)

0.38  % of the data is duplicated The Decision will be Drop out those duplicated records

In [9]:
creditCard[creditCard.duplicated()]

Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

[0 rows x 31 columns]

**Outliers Handler**

*We can now create conclusion that the Z score for the column that will exceed 3 have outliers*

![download.png]()

![images.jfif]()

In [14]:
standered_Z_Score_Fetcher ={}
for column in creditCard.columns:
  standered_Z_Score_Fetcher[column] = (creditCard[column] - creditCard[column].mean()) / creditCard[column].std()

{'Time': Series([], Name: Time, dtype: float64),
 'V1': 164      -3.130946
 290      -3.007343
 1158     -3.170174
 1632     -5.722009
 2178     -3.005680
             ...
 284561   -3.335137
 284649   -6.135900
 284772   -3.449514
 284795   -6.428378
 284802   -6.102092
 Name: V1, Length: 3647, dtype: float64,
 'V2': 18       -3.307222
 164      -7.354136
 210      -3.599667
 249      -3.083179
 290       3.201252
             ...
 284517    3.863573
 284561    3.464342
 284649    5.937194
 284795    6.189309
 284802    6.118845
 Name: V2, Length: 4303, dtype: float64,
 'V3': 164      -3.775870
 1632     -8.213234
 5966     -3.181262
 5980     -3.488703
 6331     -4.137592
             ...
 284610   -3.406974
 284631   -3.399712
 284649   -5.307845
 284795   -5.619663
 284802   -6.519861
 Name: V3, Length: 1953, dtype: float64,
 'V4': 83       -3.191139
 351      -3.133429
 608      -3.291353
 858       3.439507
 1632      4.254264
             ...
 284652    3.486058
 284711   -3.015228
 284712    3.142225
 284738    3.003064
 284782    3.429276
 Name: V4, Length: 3101, dtype: float64,
 'V5': 51       -4.817530
 140      -4.008389
 210       5.570567
 450       4.388252
 1022      3.350427
             ...
 284351    3.227162
 284354    3.785204
 284649   -3.072855
 284795   -3.332222
 284802   -3.897072
 Name: V5, Length: 2913, dtype: float64,
 'V6': 51        3.846478
 150       3.793705
 164       3.586628
 201       3.073024
 227       3.071943
             ...
 284603    3.066450
 284648    3.044873
 284680    3.137851
 284762    4.125014
 284799    4.145200
 Name: V6, Length: 4638, dtype: float64,
 'V7': 51         3.559517
 164        3.915261
 362        3.408185
 370       -4.013614
 601        3.106922
             ...
 284089     3.259312
 284106    -3.855051
 284154     3.367780
 284249    35.883323
 284802    -4.007625
 Name: V7, Length: 3404, dtype: float64,
 'V8': 7        -3.228867
 252      -3.429757
 362      -3.269149
 370      -6.355774
 384      -3.809221
             ...
 284631    4.007101
 284649    4.292262
 284742   -4.298805
 284795    4.664277
 284802    6.196651
 Name: V8, Length: 4205, dtype: float64,
 'V9': 82        3.661234
 146       3.249652
 225       3.949227
 290       3.269496
 362       4.964187
             ...
 284448    5.897883
 284479    4.487137
 284517    4.507293
 284649    4.447031
 284795    4.468023
 Name: V9, Length: 2252, dtype: float64,
 'V10': 82        5.623301
 146       5.972871
 190       3.114546
 225       5.841588
 290       6.049959
             ...
 284649    7.963476
 284713    4.496044
 284765    3.451787
 284795    8.042272
 284802    4.048292
 Name: V10, Length: 3450, dtype: float64,
 'V11': 541       3.142994
 1632      3.633947
 2696      3.282520
 4025      3.316059
 4052      3.219731
             ...
 282863   -3.644291
 282881   -3.767165
 282903   -3.890044
 282919   -3.544279
 282998   -3.698922
 Name: V11, Length: 661, dtype: float64,
 'V12': 2951      3.626790
 2954      3.627107
 2957      3.795767
 3994     -3.036468
 4010     -3.168056
             ...
 282855    3.083765
 282863    3.459512
 282881    3.630632
 282903    3.801754
 284249   -4.523225
 Name: V12, Length: 3446, dtype: float64,
 'V13': 1182      3.196547
 1185      3.091894
 1401      3.113203
 1465     -3.405679
 1780     -3.218029
             ...
 277420   -3.345547
 278900   -3.040514
 279933   -3.402663
 283336   -3.132061
 284650   -3.095963
 Name: V13, Length: 1189, dtype: float64,
 'V14': 102      -4.535352
 108      -3.443872
 225      -6.907096
 362      -5.136412
 366      -4.351335
             ...
 284448   -4.186436
 284479   -3.409910
 284517   -3.151675
 284610    3.333327
 284802    4.858870
 Name: V14, Length: 3378, dtype: float64,
 'V15': 218      -3.955763
 306      -3.007112
 455      -3.084406
 1218     -3.257992
 1272     -3.060850
             ...
 283563    3.551938
 283825   -3.303927
 284249    3.170746
 284443   -3.108901
 284488    3.024663
 Name: V15, Length: 1252, dtype: float64,
 'V16': 2        -3.309211
 83       -3.219711
 172      -3.008204
 282      -3.143080
 351      -3.587351
             ...
 284414   -3.523530
 284444   -4.346831
 284488   -3.400537
 284508   -4.022531
 284605   -3.121076
 Name: V16, Length: 2085, dtype: float64,
 'V17': 102       3.239138
 108       3.202545
 460      -6.409659
 472      -5.801455
 538       3.040053
             ...
 282903    4.194306
 282945    3.086298
 283630    3.053039
 284393   -3.005094
 284631    3.423091
 Name: V17, Length: 2520, dtype: float64,
 'V18': 38       -3.381450
 96       -3.004320
 426      -3.300520
 462       3.110579
 681       3.210316
             ...
 283351   -3.314004
 283513    3.081009
 283518   -3.027854
 284536    3.127268
 284735   -3.209226
 Name: V18, Length: 1669, dtype: float64,
 'V19': 96       -3.183540
 281       3.249052
 282      -4.258446
 361      -3.048199
 401       3.519850
             ...
 284660   -3.038998
 284725    3.222915
 284766   -3.401883
 284798    3.559494
 284805    3.563056
 Name: V19, Length: 3395, dtype: float64,
 'V20': 82         3.190373
 89         3.172266
 146        3.847217
 164       10.057394
 225        4.115873
             ...
 284497     3.573878
 284517     4.242373
 284606    -3.649235
 284649     4.504289
 284795     4.532402
 Name: V20, Length: 4594, dtype: float64,
 'V21': 162       3.136359
 164       3.079382
 252       5.311575
 334       3.356420
 370      -5.710987
             ...
 284380   -3.841474
 284506   -4.042818
 284672    3.709344
 284714    3.631489
 284742   -3.735437
 Name: V21, Length: 4096, dtype: float64,
 'V22': 160      -3.832595
 164      -3.124727
 417      -3.217685
 2061     -3.438767
 2114     -4.331184
             ...
 282578   -4.222296
 282696    3.491432
 282859   -3.087239
 283183   -3.910477
 283352   -4.071261
 Name: V22, Length: 1212, dtype: float64,
 'V23': 18         3.941608
 164       -5.697555
 174       -4.348988
 401        5.050831
 736        3.210430
             ...
 283268   -13.550996
 283359    -6.233038
 283395    14.611777
 284154     3.531698
 284249    11.287162
 Name: V23, Length: 3356, dtype: float64,
 'V24': 305      -3.013499
 399      -3.083455
 1409     -3.025241
 1602     -3.571072
 3290     -3.375124
             ...
 280987   -4.005770
 281048   -3.032816
 282310   -3.180652
 283435   -3.047545
 284110   -3.321460
 Name: V24, Length: 659, dtype: float64,
 'V25': 1329     -3.025883
 1515      3.127117
 3099     -4.456222
 3782      3.313944
 4934      3.784864
             ...
 284629    3.795899
 284648   -3.979115
 284649    3.289832
 284659    3.270494
 284795    3.428395
 Name: V25, Length: 2799, dtype: float64,
 'V26': 69        6.359107
 723       6.404473
 1056      3.228042
 1480      7.184058
 3084      3.124881
             ...
 284249    4.859103
 284345    4.328642
 284567    3.293485
 284688    5.367414
 284770    4.921712
 Name: V26, Length: 1044, dtype: float64,
 'V27': 7        -3.054208
 132      -6.013222
 146       6.288764
 174       4.343576
 290       6.234093
             ...
 284649    5.334473
 284713    4.029674
 284721   -5.020106
 284772   -6.615653
 284795    5.278537
 Name: V27, Length: 4775, dtype: float64,
 'V28': 7         -3.310361
 82        -3.372588
 132       -3.829252
 146        4.800929
 174       -5.027337
             ...
 284392    -3.053852
 284393   -10.125508
 284448   -10.132438
 284649     3.761465
 284795     3.756760
 Name: V28, Length: 3236, dtype: float64,
 'Amount': 51         5.249522
 89         4.207467
 140        3.319206
 150        3.391451
 164       14.934408
             ...
 284249    40.379353
 284290     3.228950
 284383     4.095566
 284497     5.575840
 284528     3.240931
 Name: Amount, Length: 4063, dtype: float64,
 'Class': 541       24.471237
 623       24.471237
 4920      24.471237
 6108      24.471237
 6329      24.471237
             ...
 279863    24.471237
 280143    24.471237
 280149    24.471237
 281144    24.471237
 281674    24.471237
 Name: Class, Length: 473, dtype: float64}

In [12]:
standered_Z_Score_Fetcher

{'Time': 0        -1.996819
 1        -1.996819
 2        -1.996798
 3        -1.996798
 4        -1.996777
             ...
 284802    1.642233
 284803    1.642254
 284804    1.642275
 284805    1.642275
 284806    1.642359
 Name: Time, Length: 283726, dtype: float64,
 'V1': 0        -0.701081
 1         0.608791
 2        -0.700335
 3        -0.499064
 4        -0.597605
             ...
 284802   -6.102092
 284803   -0.379207
 284804    0.982352
 284805   -0.126465
 284806   -0.276860
 Name: V1, Length: 283726, dtype: float64,
 'V2': 0        -0.041687
 1         0.164137
 2        -0.811335
 3        -0.109972
 4         0.535538
             ...
 284802    6.118845
 284803   -0.030938
 284804   -0.180433
 284805    0.324659
 284806   -0.112709
 Name: V2, Length: 283726, dtype: float64,
 'V3': 0         1.680098
 1         0.109279
 2         1.174268
 3         1.187381
 4         1.025468
             ...
 284802   -6.519861
 284803    1.347810
 284804   -2.155029
 284805    0.464576
 284806    0.465124
 Name: V3, Length: 283726, dtype: float64,
 'V4': 0         0.976621
 1         0.318997
 2         0.270648
 3        -0.608354
 4         0.287092
             ...
 284802   -1.459279
 284803   -0.520174
 284804   -0.392355
 284805    0.489869
 284806   -0.355898
 Name: V4, Length: 283726, dtype: float64,
 'V5': 0        -0.247020
 1         0.042258
 2        -0.366756
 3        -0.008814
 4        -0.297036
             ...
 284802   -3.897072
 284803    0.629191
 284804    1.908985
 284805   -0.275807
 284806   -0.010438
 Name: V5, Length: 283726, dtype: float64,
 'V6': 0         0.348012
 1        -0.060980
 2         1.352652
 3         0.937243
 4         0.072872
             ...
 284802   -1.956332
 284803    0.795503
 284804    2.276695
 284805    0.469129
 284806   -0.486870
 Name: V6, Length: 283726, dtype: float64,
 'V7': 0         0.193699
 1        -0.065656
 2         0.643222
 3         0.192079
 4         0.481516
             ...
 284802   -4.007625
 284803    0.018351
 284804   -0.243248
 284805   -0.560398
 284806    1.283092
 Name: V7, Length: 283726, dtype: float64,
 'V8': 0         0.084434
 1         0.072903
 2         0.210788
 3         0.320842
 4        -0.228724
             ...
 284802    6.196651
 284803    0.250814
 284804    0.601560
 284805    0.576733
 284806   -0.350956
 Name: V8, Length: 283726, dtype: float64,
 'V9': 0         0.333533
 1        -0.231703
 2        -1.381167
 3        -1.264662
 4         0.747915
             ...
 284802    1.749007
 284803    0.535281
 284804    0.396215
 284805    0.359366
 284806    0.445257
 Name: V9, Length: 283726, dtype: float64,
 'V10': 0         0.085688
 1        -0.153784
 2         0.194242
 3        -0.049713
 4         0.700957
             ...
 284802    4.048292
 284803   -0.905313
 284804   -0.449032
 284805   -0.369456
 284806   -0.849108
 Name: V10, Length: 283726, dtype: float64,
 'V11': 0        -0.541661
 1         1.582893
 2         0.612827
 3        -0.222523
 4        -0.807920
             ...
 284802   -1.564028
 284803   -0.147627
 284804    0.403852
 284805   -1.898510
 284806   -1.021537
 Name: V11, Length: 283726, dtype: float64,
 'V12': 0        -0.620390
 1         1.071657
 2         0.067156
 3         0.179901
 4         0.541796
             ...
 284802    2.727179
 284803    0.921424
 284804    0.064175
 284805   -0.967323
 284806   -0.030963
 Name: V12, Length: 283726, dtype: float64,
 'V13': 0        -0.996548
 1         0.490734
 2         0.719980
 3         0.509482
 4         1.351425
             ...
 284802   -0.693026
 284803    1.219727
 284804   -0.185148
 284805   -1.047472
 284806   -0.189563
 Name: V13, Length: 283726, dtype: float64,
 'V14': 0        -0.327050
 1        -0.151252
 2        -0.174539
 3        -0.302638
 4        -1.176123
             ...
 284802    4.858870
 284803   -0.709289
 284804   -0.536490
 284805    0.471923
 284806   -0.088813
 Name: V14, Length: 283726, dtype: float64,
 'V15': 0         1.603612
 1         0.693540
 2         2.562945
 3        -0.691295
 4         0.190272
             ...
 284802   -1.011595
 284803    1.272157
 284804    1.451798
 284805    2.143987
 284806    0.044039
 Name: V15, Length: 283726, dtype: float64,
 'V16': 0        -0.539733
 1         0.529652
 2        -3.309211
 3        -1.214162
 4        -0.518042
             ...
 284802    1.266434
 284803   -0.815981
 284804    0.159728
 284805   -0.697885
 284806   -0.347698
 Name: V16, Length: 283726, dtype: float64,
 'V17': 0         0.246646
 1        -0.136467
 2         1.317258
 3        -0.812174
 4        -0.281545
             ...
 284802    2.363803
 284803   -0.030698
 284804    0.371904
 284805    0.605049
 284806   -0.784025
 Name: V17, Length: 283726, dtype: float64,
 'V18': 0         0.028990
 1        -0.220780
 2        -0.146737
 3         2.345728
 4        -0.047422
             ...
 284802    0.607990
 284803   -1.460147
 284804    0.470681
 284805    1.328511
 284806    0.198136
 Name: V18, Length: 283726, dtype: float64,
 'V19': 0         0.497010
 1        -0.178907
 2        -2.780492
 3        -1.515110
 4         0.988164
             ...
 284802   -0.839284
 284803   -1.899843
 284804   -0.709372
 284805    3.563056
 284806   -0.314555
 Name: V19, Length: 283726, dtype: float64,
 'V20': 0         0.326273
 1        -0.089963
 2         0.681563
 3        -0.270428
 4         0.530342
             ...
 284802    1.916457
 284803    0.077182
 284804    0.001570
 284805    0.165258
 284806    0.497102
 Name: V20, Length: 283726, dtype: float64,
 'V21': 0        -0.024777
 1        -0.311371
 2         0.343094
 3        -0.149093
 4        -0.012516
             ...
 284802    0.295375
 284803    0.296413
 284804    0.321056
 284805    0.366918
 284806    0.361134
 Name: V21, Length: 283726, dtype: float64,
 'V22': 0         0.383483
 1        -0.881453
 2         1.065067
 3         0.007299
 4         1.101778
             ...
 284802    0.154411
 284803    1.275824
 284804    0.798073
 284805    1.104221
 284806    0.887576
 Name: V22, Length: 283726, dtype: float64,
 'V23': 0        -0.177444
 1         0.162080
 2         1.457769
 3        -0.305464
 4        -0.220708
             ...
 284802    1.626227
 284803    0.019665
 284804   -0.060444
 284805   -0.262138
 284806    0.603780
 Name: V23, Length: 283726, dtype: float64,
 'V24': 0         0.110157
 1        -0.561502
 2        -1.138482
 3        -1.941443
 4         0.232904
             ...
 284802   -0.841381
 284803   -1.678327
 284804    1.056624
 284805    0.203081
 284806    0.014172
 Name: V24, Length: 283726, dtype: float64,
 'V25': 0         0.247058
 1         0.321175
 2        -0.628159
 3         1.242485
 4        -0.394799
             ...
 284802    2.757067
 284803   -1.163407
 284804    0.510298
 284805   -1.091528
 284806   -0.908284
 Name: V25, Length: 283726, dtype: float64,
 'V26': 0        -0.392621
 1         0.260853
 2        -0.288860
 3        -0.460693
 4         1.041676
             ...
 284802    0.518376
 284803   -0.820251
 284804   -0.181557
 284805    1.133732
 284806   -1.697773
 Name: V26, Length: 283726, dtype: float64,
 'V27': 0         0.333032
 1        -0.027154
 2        -0.144325
 3         0.154039
 4         0.550000
             ...
 284802    2.380045
 284803    0.168567
 284804    0.006802
 284805    0.270523
 284806   -0.010558
 Name: V27, Length: 283726, dtype: float64,
 'V28': 0        -0.065849
 1         0.043219
 2        -0.183824
 3         0.185687
 4         0.654233
             ...
 284802    2.509503
 284803   -0.164849
 284804   -0.082640
 284805    0.317003
 284806    0.039941
 Name: V28, Length: 283726, dtype: float64,
 'Amount': 0         0.244199
 1        -0.342583
 2         1.158898
 3         0.139886
 4        -0.073813
             ...
 284802   -0.350251
 284803   -0.254324
 284804   -0.082239
 284805   -0.313390
 284806    0.513289
 Name: Amount, Length: 283726, dtype: float64,
 'Class': 0        -0.040864
 1        -0.040864
 2        -0.040864
 3        -0.040864
 4        -0.040864
             ...
 284802   -0.040864
 284803   -0.040864
 284804   -0.040864
 284805   -0.040864
 284806   -0.040864
 Name: Class, Length: 283726, dtype: float64}

## **Exploring the Data Set Using Visualization Modules**

## **Using the data for classfication problem**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

**KNN Classfier**

In [ ]:
listOfKs = []
listOfAccuracy = []
for k in range(1,50):
  knn = KNeighborsClassifier(n_neighbors=k)
  knn.fit(X_train,y_train)
  listOfKs.append(k)