# Imports

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import tabulate
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import RobustScaler,LabelEncoder
import os

# Get Paths to datasets (Credits to Adham)

In [2]:
plt.style.use("fivethirtyeight")
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/regression-test-file/Regression_test_file.csv
/kaggle/input/financial-risk-for-loan-approval/Loan.csv
/kaggle/input/financial-risk-for-loan-approval/CSV Generation.py

In [3]:
loan = pd.read_csv("/kaggle/input/financial-risk-for-loan-approval/Loan.csv")
testFile = pd.read_csv("/kaggle/input/regression-test-file/Regression_test_file.csv")
copy = loan.copy()

# Handling Missing and duplicates

In [4]:
copy.describe()

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,39.752600,59161.473550,571.612400,17.522750,24882.867800,54.057000,1.517300,454.292700,0.286381,3.023350,...,4891.715521,0.799918,5.002650,7.229432e+04,0.239124,0.239110,911.607052,0.402182,0.239000,50.766780
std,11.622713,40350.845168,50.997358,11.316836,13427.421217,24.664857,1.386325,240.507609,0.159793,1.736161,...,3296.771598,0.120665,2.236804,1.179200e+05,0.035509,0.042205,674.583473,0.338924,0.426483,7.778262
min,18.000000,15000.000000,343.000000,0.000000,3674.000000,12.000000,0.000000,50.000000,0.000974,0.000000,...,1250.000000,0.259203,0.000000,1.000000e+03,0.130101,0.113310,97.030193,0.016043,0.000000,28.800000
25%,32.000000,31679.000000,540.000000,9.000000,15575.000000,36.000000,0.000000,286.000000,0.160794,2.000000,...,2629.583333,0.727379,3.000000,8.734750e+03,0.213889,0.209142,493.763700,0.179693,0.000000,46.000000
50%,40.000000,48566.000000,578.000000,17.000000,21914.500000,48.000000,1.000000,402.000000,0.266673,3.000000,...,4034.750000,0.820962,5.000000,3.285550e+04,0.236157,0.235390,728.511452,0.302711,0.000000,52.000000
75%,48.000000,74391.000000,609.000000,25.000000,30835.000000,72.000000,2.000000,564.000000,0.390634,4.000000,...,6163.000000,0.892333,6.000000,8.882550e+04,0.261533,0.265532,1112.770759,0.509214,0.000000,56.000000
max,80.000000,485341.000000,712.000000,61.000000,184732.000000,120.000000,5.000000,2919.000000,0.917380,13.000000,...,25000.000000,0.999433,16.000000,2.603208e+06,0.405029,0.446787,10892.629520,4.647657,1.000000,84.000000

In [5]:
copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [6]:
copy.isna().sum()

ApplicationDate               0
Age                           0
AnnualIncome                  0
CreditScore                   0
EmploymentStatus              0
EducationLevel                0
Experience                    0
LoanAmount                    0
LoanDuration                  0
MaritalStatus                 0
NumberOfDependents            0
HomeOwnershipStatus           0
MonthlyDebtPayments           0
CreditCardUtilizationRate     0
NumberOfOpenCreditLines       0
NumberOfCreditInquiries       0
DebtToIncomeRatio             0
BankruptcyHistory             0
LoanPurpose                   0
PreviousLoanDefaults          0
PaymentHistory                0
LengthOfCreditHistory         0
SavingsAccountBalance         0
CheckingAccountBalance        0
TotalAssets                   0
TotalLiabilities              0
MonthlyIncome                 0
UtilityBillsPaymentHistory    0
JobTenure                     0
NetWorth                      0
BaseInterestRate              0
InterestRate                  0
MonthlyLoanPayment            0
TotalDebtToIncomeRatio        0
LoanApproved                  0
RiskScore                     0
dtype: int64

In [7]:
copy.duplicated().sum()

0

Dropping

In [8]:
copy = copy.drop(columns = "ApplicationDate")
copy.drop_duplicates()
copy.dropna()

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,45,39948,617,Employed,Master,22,13152,48,Married,2,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,38,39709,628,Employed,Associate,15,26045,48,Single,1,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,47,40724,570,Employed,Bachelor,26,17627,36,Married,2,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,58,69084,545,Employed,High School,34,37898,96,Single,1,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,37,103264,594,Employed,Associate,17,9184,36,Married,1,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,44,30180,587,Employed,High School,19,24521,36,Married,3,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,56,49246,567,Employed,Associate,33,25818,36,Married,5,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,44,48958,645,Employed,Bachelor,20,37033,72,Married,3,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,60,41025,560,Employed,High School,36,14760,72,Married,3,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,20,53227,574,Employed,Associate,0,32055,48,Married,0,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

Dropping

In [9]:
testFile = testFile.drop(columns = "ApplicationDate")
testFile.drop_duplicates()
testFile.dropna()

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,...,TotalLiabilities,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved
0,45,39948,617,Employed,Master,22,13152,48,Married,2,...,19183,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0
1,33,29096,570,Employed,Associate,12,40138,24,Married,3,...,50013,2424.666667,0.760758,4,36237,0.230138,0.248601,2139.408949,1.164865,0
2,50,60992,663,Employed,Bachelor,30,24642,48,Single,0,...,13350,5082.666667,0.917148,4,38852,0.188142,0.216449,771.630413,0.282456,0
3,43,100032,524,Employed,Master,21,19105,60,Married,0,...,4301,8336.000000,0.831494,6,45588,0.262105,0.209684,516.514890,0.160810,1
4,33,35882,620,Employed,Master,11,9259,48,Single,0,...,91262,2990.166667,0.883372,3,8266,0.194259,0.200011,281.760387,0.180177,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,45,45453,518,Employed,Master,23,36807,24,Married,2,...,14772,3787.750000,0.887467,5,39580,0.252807,0.237099,1940.701755,0.645159,0
996,26,47517,533,Employed,Associate,3,12185,72,Divorced,3,...,34408,3959.750000,0.799362,5,47114,0.260685,0.296527,363.851501,0.125223,0
997,69,38715,670,Employed,High School,46,11703,12,Single,3,...,4102,3226.250000,0.850983,4,189145,0.141703,0.162197,1063.040355,0.470218,0
998,23,101892,482,Employed,Bachelor,1,38161,24,Widowed,1,...,24493,8491.000000,0.823695,5,10427,0.272161,0.278276,2091.248768,0.264780,0
999,51,26160,540,Employed,Bachelor,30,11762,48,Married,2,...,71998,2180.000000,0.707106,4,151517,0.236762,0.231562,377.996983,0.317430,0

# Handling Categorical Columns For Dataset File

In [10]:
listOfColumns = []

listOfCategoricalColumns = []
for i in copy.select_dtypes(include = 'number'):
    listOfColumns.append(i)


for j in copy.columns:

    if j not in listOfColumns:
        listOfCategoricalColumns.append(j)
le = LabelEncoder()
for i in listOfCategoricalColumns:
    copy[i] = le.fit_transform(copy[i])

# Features and target defining

In [11]:
X_Loan = copy.drop(columns = ['RiskScore'])
Y_Loan = copy["RiskScore"]

# Handling Outliars

In [12]:
robust = RobustScaler()
scaledXLoan = robust.fit_transform(X_Loan)
scaledYLoan = robust.fit_transform(Y_Loan.values.reshape(-1,1))

# Handling Categorical Columns For Test File

In [13]:
listOfColumns1 = []

listOfCategoricalColumns1 = []
for i in testFile.select_dtypes(include = 'number'):
    listOfColumns1.append(i)


for j in testFile.columns:

    if j not in listOfColumns1:
        listOfCategoricalColumns1.append(j)
le = LabelEncoder()
for i in listOfCategoricalColumns1:
    testFile[i] = le.fit_transform(testFile[i])

# Handling Outliars

In [14]:
robust_TestFile = RobustScaler()
scaledTestFile = robust_TestFile.fit_transform(testFile)

# Train test split

In [15]:
X_train, X_val, y_train, y_val = train_test_split( scaledXLoan, scaledYLoan, test_size=0.2, random_state=42)

# Neural Network

Training and Evaluating

In [16]:
ANN = Sequential()
ANN.add(Dense(100, activation='relu', input_dim = X_train.shape[1]))
ANN.add(Dense(1))
ANN.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')
ANN.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_val, y_val))
ANN.evaluate(X_val, y_val)

Epoch 1/10

/opt/conda/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 0.2470 - val_loss: 0.0378
Epoch 2/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0332 - val_loss: 0.0286
Epoch 3/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0257 - val_loss: 0.0254
Epoch 4/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0228 - val_loss: 0.0234
Epoch 5/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0202 - val_loss: 0.0231
Epoch 6/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0188 - val_loss: 0.0244
Epoch 7/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0182 - val_loss: 0.0224
Epoch 8/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0172 - val_loss: 0.0200
Epoch 9/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0161 - val_loss: 0.0189
Epoch 10/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0152 - val_loss: 0.0182
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0177

0.018181078135967255

Predictions

In [17]:
predections_Scaled = ANN.predict(scaledTestFile)

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

Getting unScaled Values for predictions

In [18]:
predictions_Inversed = robust.inverse_transform(predections_Scaled.reshape(-1,1))
predictions_Inversed = predictions_Inversed.reshape(-1)
predictions_Inversed

array([50.87843 , 51.80739 , 42.374397, 49.60029 , 48.683167, 42.268658,
       53.531544, 61.638184, 57.226994, 40.356037, 58.611748, 45.876026,
       36.285404, 51.38729 , 49.36025 , 48.142925, 50.372665, 48.283386,
       48.92113 , 46.331463, 40.600082, 49.957767, 54.488335, 57.624466,
       63.430202, 55.7195  , 44.787434, 60.37693 , 47.37898 , 47.534782,
       53.407253, 52.620796, 61.02457 , 50.048306, 58.055584, 50.06839 ,
       53.53565 , 40.834324, 60.36449 , 45.71712 , 52.869503, 29.519669,
       54.437057, 40.75669 , 41.487896, 56.663063, 38.267075, 52.58555 ,
       40.026146, 48.145622, 49.778114, 42.750988, 46.621315, 39.645103,
       61.023506, 54.08484 , 56.141396, 35.2125  , 57.031223, 57.843502,
       56.96605 , 48.117123, 48.82431 , 55.110023, 53.259647, 53.725063,
       54.175323, 50.98559 , 53.090225, 58.821606, 49.966938, 60.418655,
       60.062378, 43.59495 , 50.9915  , 58.220745, 37.022514, 62.167652,
       39.811066, 64.43295 , 46.436768, 54.7494  , 54.19783 , 54.516052,
       40.889847, 51.460144, 62.399643, 46.614147, 50.324493, 41.191113,
       50.39852 , 35.61959 , 37.639816, 51.415462, 41.391716, 55.339428,
       35.535637, 58.9477  , 56.229   , 47.907497, 39.917206, 39.682762,
       56.70807 , 48.04571 , 65.44556 , 59.953682, 52.707005, 42.8972  ,
       64.84431 , 53.170338, 32.833572, 39.64757 , 56.948975, 55.033844,
       53.300865, 42.155205, 52.624382, 57.304337, 39.316628, 52.570557,
       53.296288, 43.0675  , 57.542965, 60.37117 , 64.7421  , 48.778572,
       57.104263, 38.80368 , 49.7024  , 52.64664 , 48.72642 , 36.71935 ,
       52.292755, 51.43933 , 56.089363, 56.141068, 40.86125 , 40.73738 ,
       53.58645 , 50.642254, 41.55168 , 48.11736 , 59.155655, 55.369427,
       50.380054, 52.557644, 43.909203, 37.495003, 48.329155, 47.83259 ,
       48.446815, 42.899788, 41.53969 , 58.375576, 63.69467 , 57.591038,
       61.02502 , 55.450794, 52.092472, 52.097237, 57.71674 , 40.856277,
       66.259926, 67.77861 , 52.39871 , 63.04814 , 51.329426, 48.837765,
       62.028095, 55.886467, 49.232132, 64.57198 , 39.457306, 54.674725,
       56.715874, 57.419544, 36.560287, 64.607666, 48.31308 , 51.66306 ,
       45.77441 , 53.661015, 34.3631  , 50.79524 , 43.48781 , 49.71248 ,
       60.673996, 42.874725, 54.401672, 49.77219 , 50.4482  , 53.38324 ,
       53.498615, 62.740967, 37.74353 , 46.58964 , 51.52819 , 58.062687,
       53.18737 , 52.93073 , 46.08167 , 53.63154 , 43.30259 , 31.566057,
       67.88592 , 54.8997  , 41.386234, 42.104847, 50.54994 , 56.850506,
       60.58229 , 52.535275, 59.07394 , 49.1928  , 49.00988 , 51.988647,
       40.867462, 54.123863, 31.502   , 57.445896, 40.07276 , 54.993813,
       45.03389 , 57.903374, 46.77105 , 53.362476, 45.978477, 42.152126,
       56.911488, 49.64482 , 51.546623, 60.54732 , 59.639557, 53.832542,
       40.097366, 47.471943, 58.31603 , 56.67944 , 61.779984, 42.679047,
       53.61811 , 63.230705, 54.750046, 50.246304, 57.91473 , 57.32745 ,
       48.934486, 53.66876 , 51.70045 , 54.054653, 55.98447 , 36.1581  ,
       54.376984, 51.868397, 48.16615 , 51.219048, 50.216343, 69.97818 ,
       40.078323, 54.51604 , 44.080894, 52.38596 , 52.401817, 50.522915,
       55.293716, 48.539238, 56.345047, 50.43773 , 73.27263 , 52.501495,
       63.79601 , 54.26837 , 55.598976, 37.200634, 52.689457, 55.982193,
       59.13828 , 39.642868, 40.20351 , 49.295177, 56.131577, 51.7112  ,
       51.749424, 60.613815, 50.141857, 57.636116, 63.292175, 54.842316,
       37.158104, 41.527153, 41.972656, 59.767746, 54.955963, 38.015526,
       37.232574, 62.14862 , 49.814617, 48.614952, 53.693   , 51.105347,
       56.668312, 36.973602, 53.44239 , 68.53073 , 59.65577 , 49.4255  ,
       37.349403, 51.054817, 64.63096 , 43.40583 , 42.011955, 32.368248,
       58.490856, 51.138065, 52.74875 , 53.962296, 53.47664 , 50.815544,
       46.921047, 55.50747 , 48.423065, 66.12769 , 52.18643 , 52.038776,
       50.95346 , 49.782833, 54.26654 , 50.687378, 51.190792, 49.957912,
       50.27557 , 58.0362  , 50.210335, 49.630573, 42.44629 , 53.01277 ,
       40.277374, 47.110413, 41.37137 , 40.155766, 55.044487, 49.309174,
       39.914536, 42.23811 , 50.11202 , 51.135   , 63.020336, 38.36946 ,
       72.55123 , 56.000854, 54.234753, 50.185207, 41.525513, 53.25732 ,
       35.521137, 47.10896 , 41.445534, 52.56514 , 52.939686, 43.060078,
       36.8161  , 56.195423, 54.091545, 53.326904, 42.060215, 53.816063,
       45.93967 , 58.21146 , 50.937855, 56.745   , 54.5112  , 43.795036,
       58.80284 , 48.721397, 51.34156 , 50.096474, 50.17793 , 47.423412,
       45.258507, 65.1179  , 64.48782 , 47.736374, 52.618893, 55.697838,
       40.135597, 49.84936 , 49.697563, 40.42034 , 54.187935, 34.82745 ,
       48.85843 , 58.778988, 62.215515, 55.682903, 51.767296, 53.727543,
       39.218277, 50.562756, 43.960808, 39.249466, 46.153168, 52.9249  ,
       40.09092 , 41.84534 , 56.786484, 58.227158, 52.72027 , 61.660572,
       52.807907, 52.347908, 54.88946 , 37.32988 , 59.33638 , 37.316116,
       54.34962 , 52.42548 , 61.305965, 40.6164  , 39.399822, 54.41968 ,
       42.538834, 46.77584 , 50.32091 , 38.75474 , 50.287365, 40.369152,
       54.405685, 54.117126, 48.325367, 55.58265 , 57.0054  , 48.451103,
       58.417088, 50.829277, 53.335102, 50.21011 , 52.078606, 53.89777 ,
       37.7831  , 43.518555, 47.9166  , 53.27098 , 45.336037, 37.518303,
       38.291733, 57.0695  , 39.921513, 62.72708 , 41.237175, 49.634445,
       63.569275, 49.3675  , 50.874218, 53.36186 , 54.302418, 47.271786,
       42.8619  , 56.750614, 54.694904, 51.031326, 55.2278  , 50.712627,
       47.820766, 57.33553 , 54.140892, 54.724197, 38.21777 , 51.26959 ,
       58.93375 , 59.21148 , 53.527122, 47.934536, 50.002773, 51.488422,
       49.623863, 41.735374, 58.266357, 46.59007 , 50.326942, 47.49282 ,
       44.33271 , 42.14509 , 54.821835, 57.742107, 57.889194, 51.927734,
       41.286842, 50.691597, 46.769863, 40.690983, 49.08609 , 71.018524,
       42.28151 , 51.413464, 37.913467, 50.784332, 51.37339 , 67.45791 ,
       58.920876, 49.20926 , 40.24112 , 37.88761 , 46.838737, 59.993732,
       53.27675 , 52.163345, 54.67106 , 50.70329 , 60.056564, 53.09284 ,
       43.33713 , 43.196613, 46.26914 , 42.112473, 41.572735, 69.30826 ,
       43.347084, 68.652855, 42.02143 , 54.18545 , 55.04602 , 54.508484,
       53.886112, 49.097557, 50.294212, 65.07522 , 57.728416, 54.312847,
       50.84551 , 46.45529 , 47.45511 , 42.43672 , 62.87759 , 49.406677,
       40.77075 , 38.998074, 52.856415, 39.33249 , 57.34781 , 54.892467,
       64.05121 , 62.381367, 45.0605  , 36.87327 , 45.6502  , 58.247906,
       50.320187, 53.432854, 52.00383 , 55.622738, 39.36628 , 57.215   ,
       56.572124, 48.804672, 45.650803, 51.82566 , 52.205154, 53.47082 ,
       54.57218 , 43.458595, 62.507275, 49.578186, 50.53125 , 50.83431 ,
       50.73965 , 42.91725 , 53.24087 , 39.09456 , 47.14616 , 40.837124,
       52.67173 , 56.026745, 61.084946, 61.22501 , 38.716194, 45.53014 ,
       38.977737, 38.761314, 47.15006 , 42.226856, 53.78578 , 40.432785,
       60.269165, 36.919975, 51.488823, 48.41294 , 48.293797, 45.04461 ,
       56.15551 , 36.462147, 60.011524, 54.05626 , 63.818497, 48.704147,
       49.38687 , 58.258392, 52.377075, 63.911255, 37.86737 , 60.80964 ,
       46.863422, 58.974113, 59.77523 , 48.975082, 55.6743  , 52.688644,
       57.866287, 39.067844, 43.90372 , 39.958527, 50.58923 , 51.125515,
       66.547554, 37.26658 , 37.61864 , 55.238594, 50.091938, 48.275463,
       38.55114 , 55.927322, 55.34122 , 46.318478, 57.08266 , 55.37402 ,
       57.30171 , 54.465683, 59.345528, 62.682735, 42.392   , 34.761948,
       42.02598 , 52.491528, 54.93817 , 56.463676, 50.469032, 39.390083,
       53.535633, 43.992584, 53.731388, 50.155685, 48.53632 , 55.160473,
       46.131134, 54.28928 , 55.122364, 61.68276 , 38.106598, 47.577682,
       58.914165, 44.25909 , 37.327732, 59.68163 , 54.534878, 37.90856 ,
       59.039227, 52.544632, 45.900482, 52.71211 , 55.098167, 50.077892,
       58.43492 , 54.76895 , 50.804134, 53.644707, 54.408253, 59.942947,
       52.56114 , 56.068356, 49.645847, 58.269268, 32.69673 , 39.11196 ,
       54.854034, 41.165462, 55.31916 , 47.073925, 53.29362 , 55.558853,
       61.91313 , 56.363556, 57.52931 , 58.166267, 47.890865, 54.882393,
       41.232227, 46.569992, 45.685097, 42.54175 , 35.84185 , 56.61026 ,
       55.26174 , 50.31357 , 50.434666, 51.388332, 60.53006 , 53.69243 ,
       53.357086, 57.72598 , 57.00741 , 53.181816, 54.544586, 46.79506 ,
       53.28035 , 41.28703 , 56.795643, 61.090736, 53.96795 , 55.291058,
       38.146454, 59.024963, 69.7537  , 48.57744 , 38.04822 , 41.309708,
       36.57514 , 62.49771 , 56.101692, 39.55925 , 38.914574, 51.70728 ,
       55.485775, 38.453228, 42.430756, 61.49119 , 43.92032 , 54.754936,
       57.48772 , 49.63972 , 47.819824, 46.40178 , 53.511505, 39.090134,
       55.028202, 58.100395, 51.2882  , 43.126797, 49.745647, 38.82512 ,
       38.3566  , 40.19843 , 46.81919 , 49.950005, 47.06347 , 55.025925,
       56.41922 , 38.877243, 53.12357 , 52.161106, 56.988804, 65.53824 ,
       40.19272 , 50.700794, 53.66561 , 41.653015, 45.426357, 51.337017,
       31.217026, 39.013817, 53.543297, 60.49325 , 52.94514 , 52.526184,
       52.65579 , 52.16658 , 34.535847, 59.10324 , 45.511627, 54.243126,
       59.98257 , 58.104122, 48.11575 , 60.932194, 71.764694, 47.675163,
       51.56201 , 51.997017, 53.81114 , 55.175087, 67.66579 , 54.33883 ,
       53.29353 , 48.619972, 63.3561  , 64.87058 , 56.064037, 52.241993,
       37.030193, 57.286247, 49.22947 , 55.33373 , 37.91285 , 56.33803 ,
       55.21821 , 60.85744 , 39.491142, 50.66906 , 58.667324, 46.89831 ,
       53.53763 , 60.15941 , 37.877373, 55.909298, 40.104748, 51.64711 ,
       46.384598, 50.349007, 54.186646, 58.0609  , 33.31149 , 56.296085,
       55.73935 , 54.764027, 52.658394, 54.299885, 51.794167, 50.17476 ,
       57.09557 , 54.1256  , 55.1358  , 49.68623 , 51.786476, 55.731136,
       54.37562 , 52.934532, 31.269236, 50.06793 , 53.67359 , 49.751884,
       55.336906, 61.215046, 37.85781 , 48.291862, 54.29203 , 42.7287  ,
       69.99739 , 38.409416, 60.16249 , 65.19027 , 51.99301 , 49.343426,
       56.071026, 63.300034, 52.331245, 47.853146, 51.936733, 55.55043 ,
       59.501266, 51.81419 , 67.252716, 47.767002, 41.770077, 57.396324,
       51.341736, 53.493546, 51.8793  , 57.58634 , 33.43741 , 53.757507,
       52.718132, 41.82264 , 43.72647 , 61.33811 , 54.030304, 37.83716 ,
       47.82562 , 62.104767, 41.00139 , 39.72334 , 49.120846, 46.57952 ,
       52.62302 , 41.556316, 53.17709 , 50.834488, 57.5791  , 37.00506 ,
       55.950172, 35.541573, 53.681408, 50.76218 , 40.30082 , 50.982944,
       55.743896, 42.396126, 46.65692 , 57.95749 , 52.597103, 58.52569 ,
       52.455166, 35.15194 , 56.216473, 45.57859 , 54.087105, 49.16852 ,
       43.77912 , 40.573006, 51.803368, 42.12754 , 53.610687, 37.946396,
       52.965374, 65.2262  , 56.151302, 57.40269 , 34.441734, 60.455463,
       52.966705, 38.210648, 63.87748 , 54.791977, 50.8894  , 43.206017,
       42.671196, 51.24636 , 42.509987, 56.97227 , 47.481815, 49.796276,
       52.429264, 49.326836, 40.024273, 58.04484 , 56.55368 , 53.27198 ,
       57.892136, 57.413963, 58.78316 , 52.89515 , 50.588947, 41.70514 ,
       66.572235, 52.94757 , 49.212936, 45.796173, 64.31428 , 53.83108 ,
       46.608116, 35.691177, 56.55131 , 59.47542 , 45.752716, 42.28791 ,
       50.029236, 53.689663, 53.38134 , 54.3615  , 63.165787, 46.648075,
       59.43248 , 51.07216 , 48.8916  , 54.235626, 54.546368, 52.7707  ,
       54.953938, 38.909546, 39.906395, 48.716766, 53.843056, 49.66017 ,
       52.068115, 47.901775, 68.22301 , 59.49364 , 37.542633, 38.73098 ,
       59.589634, 51.218246, 60.558132, 59.01992 , 56.636932, 54.777084,
       47.309235, 75.95332 , 41.647446, 37.632652, 37.015053, 50.523476,
       51.115658, 53.23668 , 59.67617 , 52.916096, 60.444714, 64.98277 ,
       56.408005, 48.00022 , 51.276493, 54.815998, 45.548607, 56.322144,
       61.9543  , 40.628674, 52.1688  , 47.93418 , 43.72685 , 58.399387,
       61.288246, 45.441242, 56.738888, 50.88605 ], dtype=float32)

# File Export (Credits to Adham)

In [19]:
dictt = {
    "ID": [i for i in range(len(predictions_Inversed))],
    "Class": predictions_Inversed
}
df = pd.DataFrame(dictt)
df.to_csv("Submission.csv", index=False)