# Imports

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import tabulate
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import RobustScaler,LabelEncoder
import os

# Get Paths to datasets (Credits to Adham)

In [2]:
plt.style.use("fivethirtyeight")
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/regression-test-file/Regression_test_file.csv
/kaggle/input/financial-risk-for-loan-approval/Loan.csv
/kaggle/input/financial-risk-for-loan-approval/CSV Generation.py

In [3]:
loan = pd.read_csv("/kaggle/input/financial-risk-for-loan-approval/Loan.csv")
testFile = pd.read_csv("/kaggle/input/regression-test-file/Regression_test_file.csv")
copy = loan.copy()

# Handling Missing and duplicates

In [4]:
copy.describe()

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,39.752600,59161.473550,571.612400,17.522750,24882.867800,54.057000,1.517300,454.292700,0.286381,3.023350,...,4891.715521,0.799918,5.002650,7.229432e+04,0.239124,0.239110,911.607052,0.402182,0.239000,50.766780
std,11.622713,40350.845168,50.997358,11.316836,13427.421217,24.664857,1.386325,240.507609,0.159793,1.736161,...,3296.771598,0.120665,2.236804,1.179200e+05,0.035509,0.042205,674.583473,0.338924,0.426483,7.778262
min,18.000000,15000.000000,343.000000,0.000000,3674.000000,12.000000,0.000000,50.000000,0.000974,0.000000,...,1250.000000,0.259203,0.000000,1.000000e+03,0.130101,0.113310,97.030193,0.016043,0.000000,28.800000
25%,32.000000,31679.000000,540.000000,9.000000,15575.000000,36.000000,0.000000,286.000000,0.160794,2.000000,...,2629.583333,0.727379,3.000000,8.734750e+03,0.213889,0.209142,493.763700,0.179693,0.000000,46.000000
50%,40.000000,48566.000000,578.000000,17.000000,21914.500000,48.000000,1.000000,402.000000,0.266673,3.000000,...,4034.750000,0.820962,5.000000,3.285550e+04,0.236157,0.235390,728.511452,0.302711,0.000000,52.000000
75%,48.000000,74391.000000,609.000000,25.000000,30835.000000,72.000000,2.000000,564.000000,0.390634,4.000000,...,6163.000000,0.892333,6.000000,8.882550e+04,0.261533,0.265532,1112.770759,0.509214,0.000000,56.000000
max,80.000000,485341.000000,712.000000,61.000000,184732.000000,120.000000,5.000000,2919.000000,0.917380,13.000000,...,25000.000000,0.999433,16.000000,2.603208e+06,0.405029,0.446787,10892.629520,4.647657,1.000000,84.000000

In [5]:
copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [6]:
copy.isna().sum()

ApplicationDate               0
Age                           0
AnnualIncome                  0
CreditScore                   0
EmploymentStatus              0
EducationLevel                0
Experience                    0
LoanAmount                    0
LoanDuration                  0
MaritalStatus                 0
NumberOfDependents            0
HomeOwnershipStatus           0
MonthlyDebtPayments           0
CreditCardUtilizationRate     0
NumberOfOpenCreditLines       0
NumberOfCreditInquiries       0
DebtToIncomeRatio             0
BankruptcyHistory             0
LoanPurpose                   0
PreviousLoanDefaults          0
PaymentHistory                0
LengthOfCreditHistory         0
SavingsAccountBalance         0
CheckingAccountBalance        0
TotalAssets                   0
TotalLiabilities              0
MonthlyIncome                 0
UtilityBillsPaymentHistory    0
JobTenure                     0
NetWorth                      0
BaseInterestRate              0
InterestRate                  0
MonthlyLoanPayment            0
TotalDebtToIncomeRatio        0
LoanApproved                  0
RiskScore                     0
dtype: int64

In [7]:
copy.duplicated().sum()

0

Dropping

In [8]:
copy = copy.drop(columns = "ApplicationDate")
copy.drop_duplicates()
copy.dropna()

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,45,39948,617,Employed,Master,22,13152,48,Married,2,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,38,39709,628,Employed,Associate,15,26045,48,Single,1,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,47,40724,570,Employed,Bachelor,26,17627,36,Married,2,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,58,69084,545,Employed,High School,34,37898,96,Single,1,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,37,103264,594,Employed,Associate,17,9184,36,Married,1,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,44,30180,587,Employed,High School,19,24521,36,Married,3,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,56,49246,567,Employed,Associate,33,25818,36,Married,5,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,44,48958,645,Employed,Bachelor,20,37033,72,Married,3,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,60,41025,560,Employed,High School,36,14760,72,Married,3,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,20,53227,574,Employed,Associate,0,32055,48,Married,0,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

Dropping

In [9]:
testFile = testFile.drop(columns = "ApplicationDate")
testFile.drop_duplicates()
testFile.dropna()

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,...,TotalLiabilities,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved
0,45,39948,617,Employed,Master,22,13152,48,Married,2,...,19183,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0
1,33,29096,570,Employed,Associate,12,40138,24,Married,3,...,50013,2424.666667,0.760758,4,36237,0.230138,0.248601,2139.408949,1.164865,0
2,50,60992,663,Employed,Bachelor,30,24642,48,Single,0,...,13350,5082.666667,0.917148,4,38852,0.188142,0.216449,771.630413,0.282456,0
3,43,100032,524,Employed,Master,21,19105,60,Married,0,...,4301,8336.000000,0.831494,6,45588,0.262105,0.209684,516.514890,0.160810,1
4,33,35882,620,Employed,Master,11,9259,48,Single,0,...,91262,2990.166667,0.883372,3,8266,0.194259,0.200011,281.760387,0.180177,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,45,45453,518,Employed,Master,23,36807,24,Married,2,...,14772,3787.750000,0.887467,5,39580,0.252807,0.237099,1940.701755,0.645159,0
996,26,47517,533,Employed,Associate,3,12185,72,Divorced,3,...,34408,3959.750000,0.799362,5,47114,0.260685,0.296527,363.851501,0.125223,0
997,69,38715,670,Employed,High School,46,11703,12,Single,3,...,4102,3226.250000,0.850983,4,189145,0.141703,0.162197,1063.040355,0.470218,0
998,23,101892,482,Employed,Bachelor,1,38161,24,Widowed,1,...,24493,8491.000000,0.823695,5,10427,0.272161,0.278276,2091.248768,0.264780,0
999,51,26160,540,Employed,Bachelor,30,11762,48,Married,2,...,71998,2180.000000,0.707106,4,151517,0.236762,0.231562,377.996983,0.317430,0

# Handling Categorical Columns For Dataset File

In [10]:
listOfColumns = []

listOfCategoricalColumns = []
for i in copy.select_dtypes(include = 'number'):
    listOfColumns.append(i)


for j in copy.columns:

    if j not in listOfColumns:
        listOfCategoricalColumns.append(j)
le = LabelEncoder()
for i in listOfCategoricalColumns:
    copy[i] = le.fit_transform(copy[i])

# Features and target defining

In [11]:
X_Loan = copy.drop(columns = ['RiskScore'])
Y_Loan = copy["RiskScore"]

# Handling Outliars

In [12]:
robust = RobustScaler()
scaledXLoan = robust.fit_transform(X_Loan)
scaledYLoan = robust.fit_transform(Y_Loan.values.reshape(-1,1))

# Handling Categorical Columns For Test File

In [13]:
listOfColumns1 = []

listOfCategoricalColumns1 = []
for i in testFile.select_dtypes(include = 'number'):
    listOfColumns1.append(i)


for j in testFile.columns:

    if j not in listOfColumns1:
        listOfCategoricalColumns1.append(j)
le = LabelEncoder()
for i in listOfCategoricalColumns1:
    testFile[i] = le.fit_transform(testFile[i])

# Handling Outliars

In [14]:
robust_TestFile = RobustScaler()
scaledTestFile = robust_TestFile.fit_transform(testFile)

# Train test split

In [15]:
X_train, X_val, y_train, y_val = train_test_split( scaledXLoan, scaledYLoan, test_size=0.2, random_state=42)

# Neural Network

Training and Evaluating

Trial 1

In [16]:
# ANN = Sequential()
# ANN.add(Dense(100, activation='relu', input_dim = X_train.shape[1]))
# ANN.add(Dense(1))
# ANN.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')
# ANN.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_val, y_val))
# ANN.evaluate(X_val, y_val)

Trial 2

In [17]:
# ANN = Sequential()
# ANN.add(Dense(128, activation='sigmoid', input_dim = X_train.shape[1]))
# ANN.add(Dense(1))
# ANN.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')
# ANN.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_val, y_val))
# ANN.evaluate(X_val, y_val)

Trial 3

In [18]:
ANN = Sequential()
ANN.add(Dense(512, activation='relu', input_dim = X_train.shape[1]))
ANN.add(Dense(256, activation='relu', input_dim = X_train.shape[1]))
ANN.add(Dense(128, activation='relu', input_dim = X_train.shape[1]))
ANN.add(Dense(1))
ANN.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')
ANN.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_val, y_val))
ANN.evaluate(X_val, y_val)

Epoch 1/10

/opt/conda/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

500/500 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 0.1163 - val_loss: 0.0241
Epoch 2/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0246 - val_loss: 0.0211
Epoch 3/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0180 - val_loss: 0.0196
Epoch 4/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0161 - val_loss: 0.0191
Epoch 5/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0145 - val_loss: 0.0179
Epoch 6/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0128 - val_loss: 0.0166
Epoch 7/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0117 - val_loss: 0.0158
Epoch 8/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0104 - val_loss: 0.0152
Epoch 9/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0103 - val_loss: 0.0153
Epoch 10/10
500/500 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0096 - val_loss: 0.0170
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0170

0.016973424702882767

Predictions

In [19]:
predections_Scaled = ANN.predict(scaledTestFile)

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

Getting unScaled Values for predictions

In [20]:
predictions_Inversed = robust.inverse_transform(predections_Scaled.reshape(-1,1))
predictions_Inversed = predictions_Inversed.reshape(-1)
predictions_Inversed

array([50.38531 , 51.485344, 43.668423, 48.939857, 48.502148, 40.988605,
       52.45657 , 61.111164, 56.293507, 38.89711 , 58.54066 , 44.78968 ,
       35.01394 , 51.366158, 49.738052, 45.645912, 49.573833, 48.38571 ,
       51.574654, 45.807373, 39.277985, 49.11049 , 54.81862 , 57.695602,
       63.867355, 54.839474, 44.722   , 60.03348 , 47.513027, 47.445717,
       52.62827 , 52.851425, 61.648132, 49.737232, 57.145626, 48.4151  ,
       53.076065, 40.837242, 61.009354, 43.927414, 54.678844, 27.467209,
       53.332413, 40.214203, 40.37561 , 57.09072 , 38.413773, 52.767612,
       39.940216, 48.803646, 50.213875, 41.394318, 45.66902 , 39.029083,
       61.63919 , 54.904358, 54.4383  , 34.33819 , 58.302723, 57.665047,
       56.995144, 47.000248, 48.9826  , 55.52109 , 54.05161 , 52.45675 ,
       54.040936, 51.06722 , 52.874924, 59.426754, 47.822533, 60.90995 ,
       56.211662, 43.974064, 51.515415, 60.164856, 35.984367, 63.03848 ,
       38.559017, 65.203804, 45.917065, 54.620213, 54.870556, 55.542988,
       38.803802, 51.706444, 63.95263 , 45.85203 , 50.15141 , 40.171234,
       48.9619  , 36.18714 , 37.98383 , 51.625343, 40.050816, 53.974377,
       34.349842, 60.70478 , 55.73893 , 44.99977 , 39.398933, 37.696434,
       57.799877, 48.232098, 66.452034, 59.7211  , 52.193813, 43.01634 ,
       65.42776 , 53.9889  , 31.7445  , 39.860996, 57.067223, 55.678185,
       53.066036, 42.10474 , 54.293903, 57.00614 , 39.229576, 50.71974 ,
       53.678116, 42.63172 , 56.30687 , 57.554173, 65.21105 , 48.853863,
       56.75975 , 39.124367, 49.2509  , 50.9223  , 46.449203, 33.751534,
       51.47988 , 50.44318 , 58.464886, 56.10812 , 40.766975, 40.042587,
       53.45603 , 50.063927, 41.401295, 48.72814 , 60.00664 , 56.395363,
       48.72125 , 52.60058 , 43.13758 , 38.75434 , 47.969536, 47.825867,
       48.09508 , 43.143623, 39.76981 , 56.64488 , 62.92031 , 57.251083,
       59.65609 , 54.22292 , 53.10471 , 51.635105, 57.93396 , 40.38034 ,
       66.041725, 67.09589 , 53.225178, 61.03475 , 52.099915, 48.681187,
       59.043762, 55.354637, 47.362698, 64.424515, 39.047615, 54.967983,
       58.45179 , 58.910713, 34.922333, 64.61072 , 49.443756, 50.647022,
       43.60387 , 54.85713 , 33.57905 , 49.673428, 42.516373, 48.755142,
       60.17994 , 42.77056 , 55.21216 , 49.68083 , 49.056046, 53.422134,
       53.50302 , 63.274433, 30.796047, 45.90738 , 51.08612 , 57.9534  ,
       55.020313, 52.500862, 45.90132 , 54.29379 , 42.01613 , 30.42202 ,
       69.38339 , 53.858192, 41.82094 , 41.75608 , 51.468857, 57.883717,
       60.078888, 52.171703, 57.550213, 49.076603, 49.829727, 51.543293,
       39.410465, 55.15065 , 31.047947, 57.16658 , 39.51002 , 54.81193 ,
       46.22105 , 59.084557, 47.28543 , 54.335186, 46.269413, 41.385384,
       57.379723, 47.766716, 49.853664, 60.910473, 59.662502, 54.013172,
       39.018356, 47.11769 , 56.874012, 56.45437 , 59.71822 , 40.662727,
       53.73763 , 63.8352  , 55.247066, 51.672417, 58.143276, 56.75057 ,
       49.509083, 53.475613, 50.768066, 53.914257, 57.21789 , 35.367477,
       54.28345 , 51.738155, 48.120655, 50.31472 , 51.514927, 70.324455,
       39.202187, 53.44106 , 45.577404, 52.61527 , 51.562   , 49.81717 ,
       55.31988 , 48.50961 , 55.45188 , 49.229885, 73.0137  , 51.45255 ,
       63.6314  , 54.08685 , 55.83305 , 36.899822, 53.001255, 54.146767,
       59.63979 , 39.136444, 41.685524, 48.96679 , 57.77547 , 52.535862,
       51.570465, 59.56556 , 48.780224, 56.641857, 63.22557 , 55.600452,
       37.296997, 40.324577, 41.27005 , 57.29137 , 55.79865 , 38.89943 ,
       36.509895, 61.79725 , 48.873814, 49.583508, 52.897842, 50.20159 ,
       56.470776, 35.58435 , 53.456165, 68.84137 , 60.426872, 49.61674 ,
       37.34601 , 50.433437, 64.96458 , 42.626904, 41.623375, 31.131237,
       58.047543, 51.471764, 50.215755, 53.56979 , 53.195244, 50.10929 ,
       47.277836, 54.72986 , 49.022778, 64.743675, 51.38023 , 52.444683,
       51.596344, 50.37401 , 53.66939 , 50.064117, 50.95957 , 49.333157,
       50.953217, 59.586094, 50.22551 , 48.52264 , 41.75493 , 51.491436,
       41.342163, 45.906586, 40.8176  , 40.334282, 54.562733, 47.42863 ,
       39.571335, 40.151352, 49.59031 , 52.65349 , 61.817593, 37.215256,
       72.46253 , 56.83009 , 54.023716, 48.28423 , 40.510273, 53.186863,
       34.173065, 45.771343, 40.16655 , 52.58952 , 53.550293, 43.3515  ,
       36.94437 , 56.55805 , 53.480637, 53.793854, 40.32757 , 54.211575,
       44.10735 , 57.984917, 50.9295  , 55.633762, 52.868153, 43.79815 ,
       59.37359 , 47.068558, 52.75684 , 48.01078 , 52.5322  , 47.49535 ,
       44.946545, 65.59329 , 64.71723 , 45.63195 , 52.475773, 57.062843,
       40.80165 , 50.8699  , 48.692417, 39.609947, 55.092476, 34.082047,
       48.322594, 58.578705, 61.111168, 54.188484, 52.56311 , 54.307938,
       38.458256, 50.341953, 44.24724 , 40.182625, 46.154533, 51.35148 ,
       39.34993 , 42.62499 , 57.791782, 59.82591 , 52.9869  , 62.11904 ,
       49.809757, 51.6606  , 54.312115, 35.99787 , 58.65796 , 37.956524,
       56.11286 , 52.961605, 59.456806, 39.21471 , 39.27146 , 55.9477  ,
       40.689022, 44.97803 , 50.332508, 37.63263 , 50.43359 , 39.492504,
       54.31366 , 53.97236 , 48.12902 , 54.560143, 57.74296 , 48.484745,
       59.23668 , 49.884136, 53.55385 , 48.273598, 51.279366, 53.957977,
       36.8993  , 43.25917 , 44.165474, 53.75496 , 45.12776 , 36.59    ,
       37.777092, 57.986206, 37.830185, 62.8532  , 40.232994, 48.325035,
       64.755035, 48.98207 , 54.286186, 53.562317, 54.50538 , 46.621616,
       41.90956 , 56.581135, 53.878704, 50.441856, 53.10665 , 50.25949 ,
       48.44965 , 57.383865, 56.0218  , 56.34802 , 36.338024, 53.640667,
       57.541443, 60.38044 , 53.566887, 48.438347, 48.642803, 51.60686 ,
       49.660454, 39.74613 , 58.845806, 47.648804, 45.059753, 46.831192,
       42.858074, 42.16238 , 53.713055, 58.181   , 58.2672  , 53.318115,
       39.85246 , 51.221172, 48.129715, 41.172832, 47.92071 , 70.56241 ,
       41.655724, 50.548237, 37.29321 , 50.395153, 52.844936, 65.60527 ,
       59.783337, 51.00412 , 38.88144 , 36.18315 , 47.456528, 61.203365,
       52.269985, 51.44191 , 53.562626, 50.376213, 62.143005, 51.714237,
       43.408134, 41.881752, 46.90069 , 41.385864, 41.234665, 69.987724,
       42.68907 , 68.73457 , 41.817814, 54.35215 , 54.557503, 54.480087,
       52.42737 , 47.90249 , 50.59746 , 66.65101 , 57.037125, 56.03449 ,
       49.84668 , 45.866905, 47.01815 , 42.953903, 62.2387  , 49.249462,
       40.075127, 38.52794 , 51.47311 , 40.123066, 56.54555 , 53.747444,
       63.316315, 62.420914, 44.608837, 37.139194, 48.45244 , 59.76113 ,
       48.46896 , 54.433643, 52.315838, 56.258938, 39.90982 , 56.47464 ,
       56.746704, 47.332165, 44.808804, 49.70837 , 51.696346, 50.588276,
       53.356163, 44.294724, 62.26496 , 51.33406 , 50.035984, 52.327328,
       50.261986, 43.14039 , 55.412884, 37.930126, 48.090065, 40.54203 ,
       53.852753, 54.537945, 62.84193 , 61.558456, 38.6967  , 43.9438  ,
       38.709522, 39.019753, 48.9292  , 42.891502, 52.797504, 38.264557,
       59.394825, 33.69111 , 52.149837, 48.636738, 47.113174, 45.080555,
       56.957287, 36.678764, 60.93093 , 54.256096, 63.397194, 46.70076 ,
       48.683666, 58.62159 , 51.55865 , 64.828094, 40.205128, 62.033012,
       46.593193, 59.01942 , 59.46369 , 48.151596, 55.390312, 52.168022,
       58.550613, 37.932957, 44.780518, 37.7866  , 50.485783, 50.58782 ,
       65.139015, 36.556137, 37.68537 , 55.027634, 50.680305, 45.45811 ,
       37.97333 , 56.64235 , 55.52925 , 45.91494 , 59.018257, 55.8385  ,
       58.58752 , 54.821007, 58.840393, 61.85881 , 40.822514, 33.544243,
       41.465736, 51.536335, 54.90701 , 53.94823 , 50.465134, 37.010265,
       53.36608 , 43.5434  , 52.23187 , 50.431797, 48.10029 , 56.157177,
       46.19027 , 55.63807 , 55.78959 , 62.59368 , 36.260612, 47.156654,
       58.84205 , 43.153893, 36.634956, 59.591793, 54.388996, 36.070568,
       56.885067, 52.12931 , 45.58834 , 53.316395, 55.327927, 48.235912,
       59.980534, 53.990486, 50.43721 , 53.665497, 53.27845 , 62.77308 ,
       52.66166 , 55.8368  , 48.72448 , 59.756886, 31.55803 , 38.9772  ,
       54.812485, 39.141045, 55.654675, 47.29622 , 52.574837, 55.846107,
       62.21264 , 58.887302, 58.328213, 56.971188, 47.472416, 53.520218,
       39.862762, 45.980736, 45.843903, 42.5809  , 34.899918, 58.229298,
       54.34064 , 48.325657, 49.89166 , 52.556667, 60.583683, 53.97523 ,
       53.632683, 58.609283, 57.136158, 53.340034, 54.607513, 49.37217 ,
       53.38873 , 40.92067 , 57.409943, 62.01642 , 52.96204 , 55.208035,
       39.014175, 59.11505 , 70.16353 , 49.10055 , 39.13168 , 40.08345 ,
       35.97292 , 60.23231 , 56.413876, 38.83053 , 39.236115, 50.66495 ,
       56.703598, 37.26346 , 41.782623, 62.814186, 42.83471 , 52.208275,
       56.685688, 48.40389 , 48.73159 , 43.67109 , 53.995373, 39.409836,
       55.060757, 57.713085, 51.96577 , 42.787514, 49.344887, 39.16809 ,
       37.91716 , 40.055668, 47.10312 , 49.4333  , 46.33333 , 56.414497,
       56.13994 , 39.170338, 54.29483 , 51.96026 , 57.75552 , 66.76968 ,
       39.86844 , 52.09212 , 53.011715, 41.313347, 44.756023, 51.265087,
       29.468925, 40.32105 , 53.34661 , 61.229263, 55.215515, 53.235043,
       52.84312 , 52.69022 , 33.680237, 57.75937 , 46.00408 , 52.921814,
       59.60211 , 59.37575 , 49.23781 , 63.65579 , 71.7966  , 46.95704 ,
       50.88926 , 52.806446, 54.375202, 56.751644, 68.60233 , 53.8669  ,
       52.533367, 50.46272 , 65.65685 , 65.7526  , 57.31944 , 51.13497 ,
       37.90767 , 58.11214 , 48.827507, 56.556675, 37.684353, 56.74608 ,
       55.79813 , 61.0276  , 37.449398, 49.968067, 58.456573, 47.591545,
       52.910126, 60.542465, 36.9981  , 56.42255 , 41.608723, 51.21147 ,
       44.733646, 48.977837, 53.497715, 57.968754, 32.571884, 55.616955,
       56.049034, 54.745464, 50.674706, 52.76907 , 50.015266, 50.014767,
       57.786922, 54.718487, 54.552353, 51.893223, 50.933422, 53.390022,
       53.723026, 51.181747, 29.185442, 48.83492 , 54.264893, 48.940407,
       55.885254, 60.21293 , 36.504154, 48.46016 , 53.68852 , 42.256035,
       71.98133 , 36.524887, 59.861477, 66.839294, 53.386993, 49.37393 ,
       55.097176, 63.84075 , 51.48941 , 48.597862, 52.362194, 54.952618,
       58.119232, 52.526928, 65.87696 , 47.61834 , 40.881844, 55.011723,
       51.925533, 54.16103 , 52.4062  , 58.69229 , 29.625511, 53.19974 ,
       52.166565, 42.40832 , 42.606663, 59.15049 , 52.782425, 37.735794,
       47.267174, 63.123558, 39.36694 , 39.204876, 48.67082 , 45.709393,
       52.283546, 40.124672, 52.913185, 51.31851 , 57.023235, 35.65801 ,
       56.92531 , 34.966537, 55.01869 , 50.055   , 39.955338, 52.727146,
       55.548912, 41.361576, 45.876278, 56.53931 , 52.232662, 57.500507,
       50.59611 , 34.378567, 53.758858, 44.96472 , 54.23109 , 48.5827  ,
       42.39247 , 38.984272, 52.155666, 42.459175, 54.403942, 36.526184,
       52.036762, 65.4876  , 57.88402 , 57.414097, 32.797997, 60.781574,
       50.781292, 37.412315, 64.15746 , 53.477386, 50.17502 , 43.006256,
       41.775505, 50.19443 , 42.265347, 56.506035, 48.462746, 49.993217,
       52.53996 , 49.158787, 40.770523, 59.491104, 56.448463, 52.70258 ,
       58.727795, 55.424614, 58.39249 , 53.494213, 51.708782, 41.741615,
       66.625145, 51.941345, 49.084534, 46.337753, 63.341133, 53.387966,
       45.22616 , 35.378506, 55.654804, 59.86093 , 44.572437, 42.805565,
       49.88054 , 51.68996 , 53.33329 , 54.536156, 63.32979 , 46.347366,
       60.66889 , 50.72368 , 48.055527, 54.153465, 54.822414, 53.247803,
       55.461193, 38.956352, 39.171135, 46.708263, 51.52242 , 50.02018 ,
       50.676464, 47.03448 , 66.31257 , 58.838154, 38.126045, 37.277405,
       59.976677, 51.613964, 61.14172 , 60.654613, 55.377106, 55.00345 ,
       47.746933, 78.16179 , 39.669693, 37.74319 , 37.296036, 51.791824,
       50.03361 , 52.25007 , 60.014122, 51.99143 , 60.776897, 62.855392,
       55.73458 , 48.115986, 50.036716, 55.437122, 44.621666, 55.392227,
       60.821556, 39.787952, 51.363827, 48.445374, 44.571117, 58.200764,
       62.678078, 45.500237, 55.624683, 50.498383], dtype=float32)

# File Export (Credits to Adham)

In [21]:
dictt = {
    "ID": [i for i in range(len(predictions_Inversed))],
    "Class": predictions_Inversed
}
df = pd.DataFrame(dictt)
df.to_csv("Submission.csv", index=False)